/* 基本重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    
    /* 使用视口高度 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#newGameBtn {
    margin: 10px auto; /* 减少margin值 */
}

.image-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


/* 使拼图容器填满可用空间 */
.puzzle-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px; /* 调整padding值 */
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#original-image {
    max-width: 100%;
    border-radius: 10px;
}

#ul {
    background: lemonchiffon;
    width: 616px;
    height: 616px;
    border:  solid #000;
    border-radius: 8px;
    

    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    
}

#ul li {
    width: 200px;
    height: 200px;
    background: url('清明上河图.jpg'), pink;
    list-style-type: none;
    transition: .3s;
    
}

#ul li.active {
    background: lemonchiffon;
    border: 4px solid #4CAF50;
}