*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(../graph/bg2.jpg) ;
    background-size:100% 100%;
    
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
}
