.content-container {  
    display: grid;  
   
    justify-content:center; 
    width: 100%; /* 可以根据需要调整 */  
    height: 100vh; /* 或者其他适当的高度值 */  
    padding-top: 50px; /* 为了给导航留出空间 */  
}  
  
.image-container {  
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative; /* 使子元素可以相对于它定位 */  
   
    
    width: 100%;  
    
    
}  
  

  
.image-container-block {  
    
    border-radius: 5px; /* 圆角边框 */ 
    
    margin-left: 100px;
    width: 25%;  
    height: 25%;
    overflow: hidden; /* 隐藏溢出的内容 */  
    position: relative;
}


.image-container-block img{
    width: 100%;
    height: 100%;
   object-fit: cover;


}
.image-container-block-button {  
    display: flex;  
    justify-content: space-between; /* 按钮之间均匀分布 */  
    width: 100%; /* 填充父容器的宽度 */  
    position: absolute; /* 绝对定位到父容器的底部 */  
    bottom: 0;  
    left: 0;  
    padding: 10px; /* 为按钮提供一些内边距 */  
    box-sizing: border-box; /* 确保padding不会增加容器的宽度 */  
}  
  
/* 设置按钮的样式 */  
.image-container-block button {  
    flex: 1; /* 使按钮填充可用空间 */  
    min-width: 100px; /* 设置最小宽度，防止按钮太小 */  
    padding: 10px;  
    margin: 0;  
     
    color: black; /* 白色文字 */  
    cursor: pointer; /* 鼠标悬停时显示为手形 */  
    font-size: 14px; /* 设置字体大小 */  
    border-radius: 5px; /* 圆角边框 */  
    transition: background-color 0.3s ease; /* 添加背景色过渡效果 */  
}  
.image-container-block-button button:hover{
    background-color: rgb(189, 187, 187);
}

.image-container-block:hover{

    transform: scale(1.25);
    box-shadow:0 25px 40px rgba(0, 0, 0, 0.5) ;
}
